<div class="box">
  <form class="item" (ngSubmit)="form.form.valid && login(form)" #form="ngForm">
    <div>
      <input type="email" name="email" id="email" placeholder="Email" ngModel required size="20" />
    </div>
    <div>
      <input type="password" name="password" id="password" placeholder="Password" ngModel required size="15" />
    </div>
    <button type="submit" style="cursor: pointer;">Login</button>
    <button class="btn btn-info" (click)="loginWithGoogle()">Login with Google</button>
    <button (click)="register()" style="cursor: pointer;">Register</button>
  </form>
</div>
